<div class="card-panel">
    <div class="row" [ngClass]="{'hide-on-med-and-down': !viewingQuestion}">
        <div class="col s10 m6">
            <h4 class="flow-text hide-on-med-and-down">{{title}}</h4> <!--On large-->
            <h4 class="flow-text hide-on-large-only">{{questionCard.title}}</h4> <!--On med and down & viewing question-->
        </div>
        <div class="col s2 offset-m4 hide-on-large-only" *ngIf="viewingQuestion">
            <h5><a (click)="closeQuestionCard()"><i class="material-icons">close</i></a></h5>
        </div>
        <div class="divider"></div>
    </div>

    <div class="question-part">
        <div class="row content-wrapper">
            <div class="col s12 l3 searchList" [ngClass]="{'hide-on-med-and-down': viewingQuestion}">
                <div class="input-field">
                    <input id="question" type="text" [(ngModel)]="searchValue" placeholder="{{inputPlaceholder}}"
                           (keyup.enter)="searchSubmit()">
                    <!--<label for="question">Vraag</label>-->
                </div>
                <div class="col s12 questionList scrollable">
                    <div class="question-in-list" *ngFor="let questionItem of (questions | search:searchValue)">
                        <p class="" (click)="setQuestion(questionItem)">{{questionItem.title}}</p>
                    </div>
                </div>
            </div>
            <div class="col l9 question-card-wrapper scrollable" [ngClass]="{'hide-on-med-and-down': !viewingQuestion}">
                <div>
                    <h3 class="flow-text hide-on-med-and-down">{{questionCard.title}}</h3>
                    <div class="divider"></div>
                    <blockquote class="flow-text">{{questionCard.question}}</blockquote>
                    <p class="flow-text">{{questionCard.answer}}</p>
                </div>
            </div>
        </div>
    </div>
</div>