<div class="video-wrapper z-depth-5">
  <video id="video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
         poster="./assets/img/poster.jpg" data-setup='{"fluid":true}'>
    <source src="./assets/video/opendag-kort.mp4" type='video/mp4'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
</div>