<div class="materials-body z-depth-2">
    <ul class="collection with-header materials-collection">
        <li class="collection-header flow-text">Downloads</li>
        <div *ngFor="let material of materials">
            <a class="waves-effect waves-light collection-item" *ngIf="material.type == 'download'">
                <i class="material-icons right">file_download</i>Oefenen
            </a>
        </div>

        <li class="collection-header flow-text">Linkjes</li>
        <a class="waves-effect waves-light collection-item"
           href="http://wijzeroverdebasisschool.nl/kennisbank-rekenen/rekenen-oefenen/cijferend-vermenigvuldigen/">Meer informatie</a>
    </ul>
</div>