<div class="text-body">
    <ul class="collapsible" data-collapsible="expandable">
        <li>
            <div class="collapsible-body">
                <span class="flow-text">
                                    <p>Als je dan toch uit je hoofd moet rekenen bij iets grotere getallen (iets dat in de cito toetsen wel eens voorkomt) dan kun je soms gebruik maken van zogenaamd handig vermenigvuldigen.</p>
                    <p>Als je moet vermenigvuldigen met grote getallen, maar dit zijn ronde getallen (honderdtallen of duizendtallen) dan is dat niet moeilijk als je de tafels goed kent.</p>
                                    <blockquote><p>5 x 3 =15</p><p>5 x 30 = 150</p><p>5 x 300 = 1500</p><p>5 x 3000 = 15000</p></blockquote>

                                </span>
            </div>
            <div class="collapsible-header active hide"><i class="material-icons">expand_more</i>Basis</div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">expand_more</i>Tips</div>
            <div class="collapsible-body">
                                <span class="flow-text">

                                    <p>Een handige tip hierbij is dat je de nullen in de som kan <a
                                            href="http://wijzeroverdebasisschool.nl/kennisbank-rekenen/rekenen-oefenen/cijferend-optellen/"
                                            title="optellen">optellen</a>.
                                        Wat bedoelen we hiermee? Kijk naar de volgende voorbeeldsom:</p>
                                    <blockquote><p>40 x 600 =</p></blockquote>
                                    <p>Door het tafels oefenen weet ik: 4 x 6  = 24. Achter de 4 staat 1 nul en achter de 6 staan 2 nullen. In mijn antwoord zet ik 3 nullen.</p>
                                    <blockquote><p>40 x 600 = 24000</p></blockquote>
                                    <p>Een andere manier om uit je hoofd te vermenigvuldigen met iets grotere getallen is door de getallen te splitsen.</p>
                                    <blockquote><p>4 x 27 =</p><p>4 x 20 = 80</p><p>4 x 7 = 28</p><p>80 + 28  = 108</p></blockquote>
                                </span>
            </div>
        </li>
    </ul>
</div>