<div class="parallax-container high-parallax">
    <div class="parallax">
        <img src="./assets/img/looking-at.png">
    </div>
    <div class="row parallax-title-wrapper animated bounceInDown">
        <div class="col s12 m8 offset-m2 center-align valign-wrapper parallax-title-wrapper">
            <div class="parallax-title">
                <app-search></app-search>
            </div>
        </div>
    </div>
</div>

<div class="section scrollspy" id="video" #video>
    <div class="row">
        <!--Video player-->
        <div class="col s12 l8 animated slideInLeft">
            <app-video-player></app-video-player>
        </div>

        <div class="col s12 l4 side-wrapper animated slideInRight">
            <div class="s12" (click)="doIt()">
                <!--Material-->
                <app-video-materials></app-video-materials>
            </div>
            <div class="s12">
                <!--Video info-->
                <app-video-info></app-video-info>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container">
    <div class="parallax">
        <img src="./assets/img/letter-book.jpg">
    </div>
    <div class="row parallax-title-wrapper">
        <div class="col s12 m6 offset-m3 center-align valign-wrapper parallax-title-wrapper">
            <div class="parallax-title">
                <h1 class="">Extra uitleg</h1>
            </div>
        </div>
    </div>
</div>

<div class="section container scrollspy" id="text" #text>
    <div class="animated slideInLeft">
        <!--Text-->
        <app-video-text></app-video-text>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="./assets/img/question.png">
    </div>
    <div class="row parallax-title-wrapper">
        <div class="col s12 m6 offset-m3 center-align valign-wrapper parallax-title-wrapper">
            <div class="parallax-title">
                <h1 class="">Toch nog een vraag?</h1>
            </div>
        </div>
    </div>
</div>


<div class="section container scrollspy" id="questions" #questions>

    <!--Questions-->
    <div class="animated slideInRight">
        <app-video-questions></app-video-questions>
    </div>
</div>